<footer>
<div id="footer-links">
	<%= link_to 'Home', home_path %>&nbsp;&nbsp; | &nbsp;&nbsp;
  <%= link_to 'About A&M', about_path %>&nbsp;&nbsp; | &nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp; | &nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
</div>
	<br/>
	
	<div id="signature">
		Webmaster: <%= mail_to("sallyz@andrew.cmu.edu", "Sally Zhao", encode: "javascript") %> 
		&nbsp;&nbsp;&copy 2017
	</div>
	
	<br/>

</footer>