<div class="contain-to-grid" >
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section" id="navbar">
      <ul >
        <!-- link to home -->
        <!-- <li><img src="assets/logo.png" alt="logo" id="logo"/><li> -->
        <li><%= link_to image_tag("logo.png"), home_path, id: "logo" %></li>

        <!-- options for items -->
        <span id="links">
        <% if logged_in? %>
          <% if current_user.role != "shipper" && current_user.role != "customer" %>
            <li class="has-dropdown">
              <%= link_to "ITEMS", items_path %>
              <ul class="dropdown">
                <li><%= link_to "Reorder List", home_path %></li>
                <li><%= link_to "Add an Item", new_item_path %></li>
              </ul>
            </li>
          <% else %> 
            <li><%= link_to "ITEMS", items_path %></li>
          <% end %> 
          

        <!-- options for purchases -->
          <% if current_user.role != "shipper" && current_user.role != "customer" %>
            <li>
              <%= link_to "PURCHASES", purchases_path %>
            </li>
          <% end %>

          <!-- options for prices -->
          <% if current_user.role != "shipper" && current_user.role != "customer" %>
            <li>
              <%= link_to "PRICES", item_prices_path %>
            </li>
          <% end %>

          <% if current_user.role != "shipper" %>
          <li>
            <%= link_to "SCHOOLS", schools_path %>
          </li>
          <% end %>

          <% if current_user.role == "manager" || current_user.role == "admin" %>
            <li><%= link_to "USERS", users_path %></li>
            <li><%= link_to "ORDERS", orders_path %></li>
          <% end %>

          <li class="has-dropdown right">
            <%= link_to "MY ACCOUNT", user_path(current_user) %>
            <ul class="dropdown">
              <!-- <li><%#= link_to "My Orders", orders_path %></li> -->
              <li><%= link_to "My Cart", index_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            </ul>
          </li>

        <% else %>
          <!-- Guests -->
          <li><%= link_to "ITEMS", items_path %></li>
        <% end %>

        <!-- content once logged in goes here -->
        <% if !logged_in? %>
          <li class="right"><%= link_to 'LOGIN', root_path %></li>
          <li class="right"><%= link_to 'SIGN UP', new_user_path %></li>
        <% end %>

      </span><!-- links -->
      </ul>
    </section>
  </nav>
</div>