<div id="form">
<%= simple_form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field juxtapose_l">
      <p>
        <%#= f.label :first_name %> <br />
        <%= f.text_field :first_name, size: 10, placeholder: 'First Name' %>
      </p>
    </div>
    <div class="field juxtapose_r">
      <p>
        <%#= f.label :last_name %> <br />
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
      </p>
    </div>

    <div style="width: 435px; margin: 0% auto; clear: both; ">
      <p >
        <%#= f.label :email, "* Email Address" %> <br />
        <%= f.text_field :email, placeholder: 'Email' %>
      </p>
    </div>

    <div class="field juxtapose_l">
      <p>
        <%#= f.label :email, "* Email Address" %> <br />
        <%= f.text_field :phone, placeholder: 'Phone' %>
      </p>
    </div>

    <div class="field juxtapose_r">
      <p>
        <% if controller.action_name == 'edit' %>
          <% if current_user.role != "shipper" && current_user.role != "customer" %>
            <%#= f.label :username, "* Username" %> <br />
            <%= f.text_field :username, placeholder: 'Username' %>
          <% end %>
        <% end %>
        <%#= f.label :username, "* Username" %> <br />
        <%= f.text_field :username,  placeholder: 'Username' %>
      </p>
    </div>

    <div class="field juxtapose_l">
      <p>
        <%#= f.label :password, "* Password" %> <br />
        <%= f.password_field :password, placeholder: 'Password' %>
      </p>
    </div>
    <div class="field juxtapose_r">
      <p>
        <%#= f.label :password_confirmation, "* Confirm Password" %> <br />
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
      </p>
    </div>


    <p>
    <% if controller.action_name == 'edit' %>
      <!-- managers and admins can edit employee data -->
      <% if current_user.role == "manager" %>
        <%#= f.label :role %><br />
        <%= f.select :role, [['Manager', :manager],['Shipper', :shipper]], :prompt => "Select Role ..." %>
      <% elsif current_user.role == "admin" %>
        <%#= f.label :role %><br />
        <%= f.select :role, User::ROLES, :prompt => "Select Role..." %>
      <% end %>


    <% elsif controller.action_name == 'new' %>
      <!-- guests can only be customers, managers can create employees -->
      <% if current_user.nil? %>
        <%= f.hidden_field :role, value: "customer" %>
      <% elsif current_user.role == "manager" %>
        <%#= f.label :role %><br />
        <%= f.select :role, [['Manager', :manager],['Shipper', :shipper]], :prompt => "Select Role..." %>
      <% elsif current_user.role == "admin" %>
        <%#= f.label :role %><br />
        <%= f.select :role, User::ROLES, :prompt => "Select Role..." %>
      <% end%>
    <% end %>
  </p>
  <br />
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update"), class: "button" %></p>
<% end %>
</div>

