<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, "* Email Address" %> <br />
    <%= f.text_field :email %>
  </p>
  <p>
    <% if controller.action_name == 'edit' %>
      <% if current_user.role != "shipper" && current_user.role != "customer" %>
        <%= f.label :username, "* Username" %> <br />
        <%= f.text_field :username %>
      <% end %>
    <% end %>
    <%= f.label :username, "* Username" %> <br />
    <%= f.text_field :username %>
    
  </p>
  <p>
    <%= f.label :password, "* Password" %> <br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "* Confirm Password" %> <br />
    <%= f.password_field :password_confirmation %>
  </p>
   <%= f.hidden_field :role, value: "customer" %>
    <p>
    <% if controller.action_name == 'edit' %>
      <% if current_user.role != "shipper" && current_user.role != "customer" %>
        <%= f.label :role %><br />
        <%= f.select :role, User::ROLES, :prompt => "Select ..." %>
      <% end %>
    <% elseif controller.action_name == 'new' %>
    <% end %>
    <% if !current_user.nil? %>
      <%= f.label :role %><br />
      <%= f.select :role, [['Customer', :customer]], :prompt => "Select ..." %>
    <% end %>
  </p>
    
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
