<% if users.empty? %>
  <h4>No users at this time.</h4>
<% else %>
<table id="ph-table" style="margin: 0px auto;">
  <tr>
    <th width="200"> Name </th>
    <th width="275"> Email </th>
    <th width="175"> Phone </th>
    <th width="175"> Role </th>
  </tr>

  <tbody>
    <% users.active.alphabetical.each do |user| %>
      <% if current_user.role == "manager" %> 
        <% if user.role != "admin" %>
          <tr>
            <td> <%= link_to user.proper_name, user_path(user), {:style=>'color: #bb892a;'}  %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.phone %> </td>
            <td> <%= user.role.capitalize %> </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td> <%= link_to user.proper_name, user_path(user)  %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.phone %> </td>
          <td> <%= user.role.capitalize %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody> 
</table>
<% end %>

<%= will_paginate @users, previous_label: "<&nbsp;", next_label: "&nbsp;>" %>
