<h3>
  <b>Name</b>: <%= @user.proper_name %>
</h3><br>

<p>
  <b>Email</b>: <%= mail_to @user.email, @user.email, encode: "javascript" %>
</p>

<p>
  <b>Phone</b>: <%= @user.phone %>
</p>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

<p>
  <b>Role</b>: <%= @user.role.capitalize %>
</p>
