<%= simple_form_for @item_price, html: { class: 'form-horizontal', multipart: true }, remote: true do |f| %>
  <!-- <fieldset> -->
    <legend><%= controller.action_name.capitalize %> Price</legend>

    <%#= f.input :item_id, collection: Item.active.to_a, include_blank: true, input_html: {class: "avg"} %>
    <%= f.input :price, label: 'New Price' %>
     <%= f.input :category, collection: ItemPrice::CATEGORIES %>


    <!-- <div class="form-actions"> -->
      <%= f.submit nil, :class => 'button tiny radius' %>
      <%= link_to 'Cancel', item_prices_path, :class => 'button tiny alert radius' %>
    <!-- </div> -->
  <!-- </fieldset> -->
<% end %>
