<div id="not_shipped_table">
<h3 id="center_heading">NOT SHIPPED</h3>
<hr/> <br />

<% unless @not_shipped.nil? || @not_shipped.empty? %>
  <table style="margin: 0px auto;" class="table table-striped">
    <thead>
      <tr>
        <th width="90">Order ID</th>
        <th width="150">Item Name</th>
        <th width="75">Quantity</th>
        <th width="150">Shipped On</th>
        <th> Ship </th>
      </tr>
    </thead>
    <tbody>
      <% @not_shipped.each do |order_item| %>
          <tr>
            <td class="gold"><%= link_to order_item.order.id, order_path(order_item.order), id: "order_id" %></td>
            <td><%= link_to order_item.item.name, item_path(order_item.item) %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.shipped_on %></td>
            <td> <%= link_to(ship_path(order_item), class: 'button tiny radius', id: 'ship_link', remote: true, method: 'patch') do %> Ship <% end %> </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no items that need to be reorder at this time.</p>
<% end %>
</div>
<br/><br/>



