<h3 id="center_heading"> CHECKOUT </h3> <hr/> <br/>

<% unless @cart_items.nil? || @cart_items.empty? %>
  <table class="table table-striped" id="checkout_table">
    <thead>
      <tr>
        <th width="300">Order ID</th>
        <th> Price </th>
        <th> Quantity </th>
        <th> Subtotal </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.item.name, item_path(order_item.item.id), {:style=>'color: #bb892a;'} %></td>
          <td> <%= number_to_currency(order_item.item.current_price) %> </td>
          <td> <%= order_item.quantity %> </td>
          <td> <%= number_to_currency(order_item.subtotal) %> </td>
          <td><%= link_to "Remove", remove_from_cart_path(order_item.item.id), {:style=>'color: #bb892a;'} %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="costs">
    <p> Order Subtotal: <%= number_to_currency(@total_cost) %> </p>
    <p> Shipping Cost : <%= number_to_currency(@shipping_cost) %> </p>
    <p style="color: #bb892a;"> Grand Total : <%= number_to_currency(@grand_total) %> </p>
  </div>

<% else %>
    No items in the cart
<% end %>

<div id="checkout_form">
<%= simple_form_for @order do |f| %>
    <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h4> MY INFORMATION </h4>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <p> Name: <%= current_user.proper_name %> </p>
    <p> Email: <%= current_user.email %> </p>
    <p> Phone: <%= current_user.phone %> </p>

    <h4> SHIP TO </h4>
  <span id="select_school"><%= f.input :school_id, :collection => School.active.alphabetical, :prompt => "Select School...", label: false %></span>

  <h4> PAYMENT INFORMATION </h4>
    <p style="width: 300px;">
      <%= f.text_field :credit_card_number, placeholder: 'Credit Card Number'  %>
      <%= f.text_field :expiration_month, placeholder: 'Expiration Month'  %>
      <%= f.text_field :expiration_year, placeholder: 'Expiration Year'  %>
    </p>
</div>
  <p><%= f.submit (@order.new_record? ? "Place Order" : "Update"), class: "button" %></p>

<% end %>