<h3>
  <b>Order ID</b>: <%= @order.id %>
</h3><br>

<p>
  <b>Date</b>: <%= @order.date %>
</p>

<p>
  <b>School ID</b>: <%= @order.school_id %>
</p>

<p>
  <b>User ID</b>: <%= @order.user_id %>
</p>

<p>
  <b>Total Weight</b>: <%= @order.total_weight %>
</p>

<p>
  <b>Grand Total</b>: <%= number_to_currency(@order.grand_total)%>
</p>

<p>
  <b>Payment Receipt</b>: <%= @order.payment_receipt %>
</p>


