<%= form_for @order do |f| %>
    <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= current_user.name %>
  </p>

  <h3> School Address </h3>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :street_1 %><br />
      <%= f.text_field :street_1 %>
    </p>
    <p>
      <%= f.label :street_2 %> <br />
      <%= f.text_field :street_2 %>
    </p>
    <p>
      <%= f.label :city %> <br />
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :state %> <br />
      <%= f.text_field :state %>
    </p>
    <p>
      <%= f.label :zip %> <br />
      <%= f.text_field :zip %>
    </p>
  <h3> Payment Information </h3>
    <p>
      <%= f.label :zip %> <br />
      <%= f.text_field :zip %>
    </p>
    <p>
      <%= f.label :zip %> <br />
      <%= f.text_field :zip %>
    </p>
    <p>
      <%= f.label :zip %> <br />
      <%= f.text_field :zip %>
    </p>

  
    
  <p><%= f.submit (@order.new_record? ? "Create" : "Update") %></p>
<% end %>