<% unless @cart_items.nil? || @cart_items.empty? %>
  <h3 id="center_heading"> MY CART </h3> <hr/> <br/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Order ID</th>
        <th> Price </th>
        <th> Quantity </th>
        <th> Subtotal </th>
        <th> </th>
        <th width="50"> </th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.item.name, item_path(order_item.item.id), {:style=>'color: #bb892a;'} %></td>
          <td> <%= number_to_currency(order_item.item.current_price) %> </td>
          <td> <%= order_item.quantity %> </td>
          <td> <%= number_to_currency(order_item.subtotal) %> </td>
          <td><%= link_to "Remove", remove_from_cart_path(order_item.item.id) %> </td>
          <td><%= link_to(add_to_cart_path(order_item.item.id), class: 'tiny alert button radius') do %>
            Add
          <% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p> Order Subtotal : <%= number_to_currency(@total_cost) %> </p>
  <%= link_to(new_order_path, class: 'button radius') do %>
    Checkout
  <% end %>

<% else %>
    <h3 style="margin-left: 37%;"> NO ITEMS IN THE CART </h3> <hr/>
    <span style="margin-left: 42%;"><%= link_to(items_path, class: 'button radius') do %>
    SHOP NOW
  <% end %></span>
<% end %>
