<% unless @cart_items.nil? || @cart_items.empty? %>
  <h3 id="center_heading"> My Cart </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Order ID</th>
        <th> Price </th>
        <th> Quantity </th>
        <th> Subtotal </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.item.name, item_path(order_item.item.id) %></td>
          <td> <%= number_to_currency(order_item.item.current_price) %> </td>
          <td> <%= order_item.quantity %> </td>
          <td> <%= number_to_currency(order_item.subtotal) %> </td>
          <td><%= link_to "Remove", remove_from_cart_path(order_item.item.id) %> </td>
          <td><%= link_to(add_to_cart_path(order_item.item.id), class: 'tiny button radius') do %>
            Add to Cart
          <% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p> Order Total : <%= number_to_currency(@total_cost) %> </p>
  <%= link_to(new_order_path, class: 'button radius') do %>
    Checkout
  <% end %>

<% else %>
    <p> NO ITEMS IN THE CART </p>
    <%= link_to(items_path, class: 'button radius') do %>
    SHOP NOW
  <% end %>
<% end %>
