<div id="form">
<%= simple_form_for @item, html: { class: 'form-horizontal', multipart: true } do |f| %>

    <%= f.input :name, label: false, placeholder: "Name" %>
    <%= f.input :description, input_html: { :rows => 4}, label: false, placeholder: "Description" %>
    <%= f.input :category, collection: Item::CATEGORIES, include_blank: true, label: false, :prompt => "Select Category..." %>
    <%= f.input :color, label: false, placeholder: "Color" %>
    <%= f.input :weight, label: false, placeholder: "Weight" %>
    <% if controller.action_name == "new" %>
      <%= f.input :inventory_level, label: false, placeholder: "Inventory Level" %>
    <% end %>
    <%= f.input :reorder_level, label: false, placeholder: "Reorder Level" %>
    <%= f.input :active %>
    <div class="field">
      <%= f.label :picture %><br />
      <%= f.file_field :picture %>
    </div>

    <div class="form-actions">
      <span style="float:right;"><%= f.submit nil, :class => 'button radius' %></span>
      <span style="float:left; margin-top: -100px;"><%= link_to 'Cancel', items_path, :class => 'button alert radius' %></span>
    </div>
<% end %>
</div>