<div id="item_details">
<div class="row">
  <div class="small-7 columns">
  </div>
  <div class="small-5 columns">
  </div>
</div>
<h3 style="margin: 0px auto;"><%= @item.name.upcase %></h3><hr/> <br/>
<p>
  <div class="small-5 columns">
  <% unless @item.picture_url.nil? %>
      <p><%= image_tag @item.picture_url %></p>
    <% end %>
  </div>
<b>Price</b>: <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
</p>


 <%= link_to(add_to_cart_path, class: 'button alert radius left') do %>
    Add to Cart
  <% end %>

<br/><br/><br/><br/><br/><br/>
<div>
<h5>  PRODUCT DETAILS </h5>
<p style="width: 400px;"><%= @item.description %></p>
<ul>
  <% if !@item.color.nil? %>
    <li> <%= @item.color %></li>
  <% end %>

  <% if !@item.weight.nil? %>
  <li> <%= @item.weight %> lbs. </li>
  <% end %>


<% if logged_in? %>
  <% if current_user.role != "customer" %>
    <%= render :partial => "inventory_level" %>
  <% end %>

  <% if current_user.role == "manager" || current_user.role == "admin" %>
  <li>
    <b>Reorder Level</b>: <%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %>
  </li>
  <% end %>
<% end %>
</ul>
</div>



</div>

<!-- <p>
  <b>Active</b>: <%#= @item.active ? 'Yes' : 'No' %>
</p> -->