<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details" %>
  </div>
  <div class="small-5 columns">
    <% if logged_in? %>
      <% if current_user.role == "admin" || current_user.role == "manager" %>
        <%= render :partial => "price_history" unless @price_history.empty?%>
        <%= link_to(new_purchase_path(this_item_id: @item.id), class: 'button tiny radius', id: 'new_purchase_link', remote: true) do %>
        Reorder Item
      <% end %>
      <% end %>
      <%= render :partial => "similar_items" unless @similar_items.empty?%>
    <% end %> 
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<% if logged_in? %>
  <% if current_user.role == "manager" || current_user.role == "admin" %>
    <%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>
  <% end %>

  <%= link_to(add_to_cart_path, class: 'button radius') do %>
    Add to Cart
  <% end %>
<% end %>