<%= simple_form_for @school do |f| %>
    <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <p>
    <%#= f.label :name %><br />
    <%= f.text_field :name, placeholder: 'Name' %>
  </p>
  <p>
    <%#= f.label :street_1 %><br />
    <%= f.text_field :street_1, placeholder: 'Street 1' %>
  </p>
  <p>
    <%#= f.label :street_2 %> <br />
    <%= f.text_field :street_2, placeholder: 'Street 2' %>
  </p>
  <p>
    <%#= f.label :city %> <br />
    <%= f.text_field :city, placeholder: 'City' %>
  </p>
  <p>
    <%#= f.label :state %> <br />
    <%= f.text_field :state, placeholder: 'State' %>
  </p>
  <p>
    <%#= f.label :zip %> <br />
    <%= f.text_field :zip, placeholder: 'Zip Code' %>
  </p>
  <p>
    <%#= f.label :min_grade %> <br />
    <%= f.text_field :min_grade, placeholder: 'Minimum Grade' %>
  </p>
  <p>
    <%#= f.label :max_grade %> <br />
    <%= f.text_field :max_grade, placeholder: 'Maximum Grade' %>
  </p>
  </fieldset>
  <p><%= f.submit (@school.new_record? ? "Create" : "Update"), class: "button" %></p>
<% end %>